ion-contents {
  text-align: center;
}

ion-title {
  text-align: center;
}

div {
  text-align: center;
}

.slide-image {
  max-height: 70%;
  max-width: 70%;
  margin: 20px 0;
  font-weight: 900;
  pointer-events: none;
}

.login-logo {
  padding: 60px 15px;
  min-height: 200px;
  text-align: left;
}

.login-logo img {
  margin: 50px, 0, 50px, 0;
  max-width: 250px;
}

.list {
  margin-bottom: 0;
}

h1 {
  font-weight: 600;
}

.flex-center {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.flex-left {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}