.sleep-chart-container {
  width: 100%;
  height: 250px;
  padding: 0;
  margin: 0 auto;
  background-color: transparent;
}

.sleep-chart-canvas {
  width: 100% !important;
  height: 250px !important;
  max-height: 250px !important;
}
