ion-contents {
    text-align: center;
}

ion-title {
    text-align: center;
}

div {
    text-align: center;
}

h1 {

}

.slide-image {
    max-height: 70%;
    max-width: 70%;
    margin: 20px 0;
    pointer-events: none;
  }

  .validate-logo {
    padding: 60px 15px;
    min-height: 200px;
    text-align: left;
  }
  
  .validate-logo img {
    margin: 50px, 0, 50px, 0;
    max-width: 250px;
  }
  
  .list {
    margin-bottom: 0;
  }
  
  h1 {
    font-weight: 600;
  }