// ion-toolbar {
//     // TODO test transparent and fullscreen
//     --background: transparent;
//     --border-color: transparent;
//   }
  
.swiper-slide {
    display: block;
  }
  
  .slide-title {
    margin-top: 0.5rem;
  }
  
  .slide-image {
    max-height: auto;
    max-width: 100%;
    margin: 5px 0;
    pointer-events: none;
  }
  
  b {
    font-weight: 500;
  }
  
  p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    color: var(--ion-color-step-600, #60646b);
  
    b {
      color: var(--ion-text-color, #000000);
    }
  }
