// ion-toolbar {
//     // TODO test transparent and fullscreen
//     --background: transparent;
//     --border-color: transparent;
//   }

  div {
    margin: 10px 10px 10px 10px;
    text-align: center;
  }
  
  h2 {
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .rcorners1 {
    text-align: center;
    border-radius: 25px;
    background: #292929;
    padding: 20px; 
    width: 95%;
    height: 80%;
  }
  
  ion-button {
    margin: 10px 10px 10px 10px;
  }

  ion-list {
    border-radius: 10px;
  }