.menuItem {
    color: #ffce00;
    margin-top: 1.0em;
    margin-bottom: 0.5em;
}

#icon-middle {
    margin-top: 0.5em;
    max-height: 1.2rem;
    max-width: auto;
}

#icon-left {
    max-width: auto;
    max-height: 2.0rem;
    margin-left: 0.5em;
}

#icon-right {
    max-width: auto;
    max-height: 2.0rem;
}

.parent {
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
}

// ion-select 팝업의 글자색을 white로 설정
ion-select {
    --placeholder-color: white;
    --placeholder-opacity: 0.8;
}
