<ion-header>
  <ion-toolbar class="ion-no-padding">
    <div class="parent">
      <div>
        <img *ngIf="deviceService.isOnline === 0"
        id="icon-left"
        src="../../assets/imgs/navibar_sensor_offline.png"
        routerLink="/device-registration"
        routerDirection="forward"/>
        <ion-label *ngIf="deviceService.isOnline === 0" style="margin-left: -0.7em; margin-top: 1.0em; position: absolute; font-size: 0.8rem;" color="warning">{{ 'COMMON.scanning' | translate }}</ion-label>
      <img *ngIf="deviceService.isOnline > 0"
      id="icon-left"
      src="../../assets/imgs/navibar_sensor_online.png"
      routerLink="/device-registration"
      routerDirection="forward"/>
      <ion-label *ngIf="deviceService.isOnline > 0" style="margin-left: -0.7em; margin-top: 1.0em; position: absolute; font-size: 0.8rem;" color="warning">{{ 'COMMON.connected' | translate }}</ion-label>
      </div>
      <div id="icon-middle">
        <ion-label *ngIf="deviceService.isDebugMode" routerLink="/debug" routerDirection="forward">{{ 'TAB4.settings' | translate }}</ion-label>
        <ion-label *ngIf="!deviceService.isDebugMode">{{ 'TAB4.settings' | translate }}</ion-label>
      </div>
      <div>
        <img *ngIf="familyShare.badgeCount > 0" routerLink="/family" routerDirection="forward" id="icon-right" style="max-width: 50%; margin-top: 0.5em" src="../../assets/imgs/icon_family.png" />
        <img *ngIf="familyShare.badgeCount === 0" routerLink="/family" routerDirection="forward" id="icon-right" style="max-width: 70%; margin-top: 0.5em" src="../../assets/imgs/icon_family.png" />
        <ion-badge *ngIf="familyShare.badgeCount > 0" slot="end" color="danger" style="margin-left: -0.3em">{{ familyShare.badgeCount }}</ion-badge>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-row style="height: 1.0em"></ion-row>
    <ion-item routerLink="/profile" routerDirection="forward">
      <ion-avatar slot="start" style="width: 3.0rem; height: 3.0rem">
        <img src="../../assets/imgs/avatar.svg" *ngIf="deviceService.userPhoto === null || deviceService.userPhoto === undefined">
        <img [src]="deviceService.userPhoto" *ngIf="deviceService.userPhoto !== null && deviceService.userPhoto !== undefined">
      </ion-avatar>
      <!-- <ion-label>Item Avatar</ion-label> -->
      <ion-card style="box-shadow:none !important">
        <ion-card-subtitle color="dark">
        {{ deviceService.userNickname }}
        </ion-card-subtitle>
        <ion-card-subtitle>
          {{ displayUsername }}
        </ion-card-subtitle>
      </ion-card>
    </ion-item>
    <ion-row style="height: 1.0em"></ion-row>
    <!-- <ion-item detail routerLink="/userlogin" routerDirection="forward">
      <ion-icon name="person" class="menuItem"></ion-icon>{{ 'TAB4.userLogin' | translate }}
    </ion-item> -->
    <ion-item detail routerLink="/device-registration" routerDirection="forward">
      <ion-icon slot="start" name="tv" class="menuItem"></ion-icon>{{ 'TAB4.deviceRegistration' | translate }}
    </ion-item>
    <!-- <ion-item detail routerLink="/calibration" routerDirection="forward">
      <ion-icon slot="start" name="color-wand" class="menuItem"></ion-icon>{{ 'TAB4.calibration' | translate }}
    </ion-item> -->
    <ion-item detail routerLink="/ota" routerDirection="forward">
      <ion-icon slot="start" name="cloud-download-outline" class="menuItem"></ion-icon>{{ 'TAB4.ota' | translate }}
    </ion-item>
    <!-- <ion-item detail routerLink="/oauth-login" routerDirection="forward" [disabled]="deviceService.devId == ''">
      <ion-icon slot="start" name="link" class="menuItem"></ion-icon>{{ 'TAB4.hejhome' | translate }}
    </ion-item>
    <ion-row style="height: 1.0em"></ion-row>

    <ion-item detail routerLink="/family" routerDirection="forward">
      <ion-icon slot="start" name="people-outline" class="menuItem"></ion-icon>{{ 'TAB4.familyShare' | translate }}
    </ion-item> -->
    <ion-item routerDirection="forward">
      <ion-icon slot="start" name="notifications" class="menuItem"></ion-icon>{{ 'TAB4.pushNotification' | translate }}
      <ion-toggle slot="end" color="success" [(ngModel)]="pushEnabled" (ionChange)="pushConfigChanged($event)"></ion-toggle>
    </ion-item>
    <!-- <ion-item detail routerLink="/alarm" routerDirection="forward">
      <ion-icon slot="start" name="alarm" class="menuItem"></ion-icon>{{ 'TAB4.alarm' | translate }}
    </ion-item> -->
    <ion-item>
      <ion-icon slot="start" name="globe-outline" class="menuItem"></ion-icon>{{ 'TAB4.language' | translate }}
      <ion-select slot="end" placeholder="Choose Language" [(ngModel)]="deviceService.selectedLanguage" (ionChange)="languageChanged($event)">
        <ion-select-option value="auto">{{ 'TAB4.languageAuto' | translate }}</ion-select-option>
        <ion-select-option value="ko">{{ 'COUNTRY.ko.lang' | translate }}</ion-select-option>
        <ion-select-option value="en">{{ 'COUNTRY.en.lang' | translate }}</ion-select-option>
        <ion-select-option value="cn">{{ 'COUNTRY.cn.lang' | translate }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-row style="height: 1.0em"></ion-row>

    <ion-item detail routerLink="/usage" routerDirection="forward">
      <ion-icon slot="start" name="book" class="menuItem"></ion-icon>{{ 'TAB4.usage' | translate }}
    </ion-item>
    <ion-item detail (click)="versionInfo()">
      <ion-icon slot="start" name="information-circle" class="menuItem"></ion-icon>{{ 'TAB4.version' | translate }}
    </ion-item>
    <ion-item detail (click)="factoryReset()">
      <ion-icon slot="start" name="refresh" class="menuItem"></ion-icon>{{ 'TAB4.factory' | translate }}
    </ion-item>
  </ion-list>
</ion-content>