<ion-tabs>

  <ion-tab-bar *ngIf="!deviceService.hideTabs" slot="bottom" color="dark">
    <ion-tab-button tab="tab1" style="fill:#fff;">
      <ion-icon src="../../assets/imgs/tab_home_def.svg"></ion-icon>
      <ion-label>{{ 'TABS.home' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon src="../../assets/imgs/tab_analysis_def.svg"></ion-icon>
      <ion-label>{{ 'TABS.analysis' | translate }}</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="tab3">
      <ion-icon src="../../assets/imgs/tab_Device_def.svg"></ion-icon>
      <ion-label>{{ 'TABS.devices' | translate }}</ion-label>
    </ion-tab-button> -->

    <ion-tab-button tab="tab5">
      <ion-icon src="../../assets/imgs/tab_store_def.svg"></ion-icon>
      <ion-label>{{ 'TABS.store' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon src="../../assets/imgs/tab_Setting_def.svg"></ion-icon>
      <ion-label>{{ 'TABS.settings' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
