.changepassword-logo {
    padding: 60px 15px;
    min-height: 200px;
    text-align: left;
  }

  div {
    text-align: center;
}
  
  ion-title {
    text-align: center;
}

  .changepassword-logo img {
    margin: 50px, 0, 50px, 0;
    max-width: 250px;
  }

  .slide-image {
    max-height: 70%;
    max-width: 70%;
    margin: 20px 0;
    pointer-events: none;
  }

  .list {
    margin-bottom: 0;
  }
  
  h1 {
    font-weight: 600;
  }