<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <!-- <ion-title>비밀번호 변경</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="changepassword-logo">
    <h1>{{ 'TITLES.lostPassword' | translate }}</h1>
    <!-- <img src="assets/imgs/koala.png" alt="Ionic logo"> -->
  </div>

  <form #changepasswordForm="ngForm" novalidate>
    <ion-list lines="none">
      <ion-item>
        <ion-label position="stacked" color="dark">{{ 'LOGIN.phoneNumber' | translate }}</ion-label>
        <ion-select [value]=" selectedCountryCode " (ionChange)="countryCodeSelected($event)">
          <ion-select-option value="+82">{{ 'COUNTRY.ko.name' | translate }}(+82)</ion-select-option>
          <ion-select-option value="+1">{{ 'COUNTRY.en.name' | translate }}(+1)</ion-select-option>
          <ion-select-option value="+86">{{ 'COUNTRY.cn.name' | translate }}(+86)</ion-select-option>
        </ion-select>
        <ion-input (ionChange)="textChanged()" minlength="9" maxlength="11" [(ngModel)]="changepassword.username" name="username" type="text" #username="ngModel" required>
        </ion-input>
      </ion-item>
      <ion-text color="danger">
        <p [hidden]="username.valid || submitted == false" class="ion-padding-start">
          Phone Number is required
        </p>
      </ion-text>

      <ion-item>
        <ion-label position="stacked" color="dark">{{ 'LOGIN.password' | translate }}</ion-label>
        <ion-input (ionChange)="textChanged()" [(ngModel)]="changepassword.password" name="password" type="password" #password="ngModel" required>
        </ion-input>
      </ion-item>
      <ion-text color="danger">
        <p [hidden]="password.valid || submitted == false" class="ion-padding-start">
          Password is required
        </p>
      </ion-text>

      <ion-item>
        <ion-label position="stacked" color="dark">{{ 'LOGIN.verifyPassword' | translate }}</ion-label>
        <ion-input (ionChange)="textChanged()" [(ngModel)]="verifyPasswordText" name="veryfyPassword" type="password" #veryfyPassword="ngModel" required>
        </ion-input>
      </ion-item>
      <ion-text color="danger">
        <p [hidden]="veryfyPassword.valid || submitted == false" class="ion-padding-start">
          Verify Password is required
        </p>
        <p *ngIf="!matchedPassword" class="ion-padding-start">
          Verify Password is mismatched.
        </p>
        
      </ion-text>
    </ion-list>

    <div class="ion-padding">
      <ion-button (click)="onChangePassword(changepasswordForm)" type="submit" color="warning" shape="round" expand="block" [disabled]="disableSubmitButton">{{ 'COMMON.confirm' | translate }}</ion-button>
    </div>
  </form>
</ion-content>
