.styleA {
    line-height: 1.38; margin-top: 12pt; margin-bottom: 12pt;
}

.styleB1 {
    font-size: 11pt; font-family: Arial; font-variant-ligatures: normal; font-variant-east-asian: normal; font-variant-position: normal; vertical-align: baseline; white-space: pre-wrap;
}

.styleB2 {
    font-size: 11pt; font-family: Arial; font-weight: 700; font-variant-ligatures: normal; font-variant-east-asian: normal; font-variant-position: normal; vertical-align: baseline; white-space: pre-wrap;
}