<app-header [showLogo]="true"></app-header>

<ion-content [fullscreen]="false" style="background-color: #1C1C1D; padding-bottom: 1.0em; margin-top: -2.0em;">
  <!-- <div *ngIf="deviceService.userNickname === '' || deviceService.userNickname === undefined" routerLink="/profile" routerDirection="forward" style="background-color: #FCC300; color: #0c0c0d; text-align: left; font-size: 0.8rem; padding: 0.3em; font-weight: 500;">
    <ion-grid>
      <ion-row>
        <ion-col size="1.5">
          <ion-icon style="font-size: 2.0rem" name="information-circle-outline"></ion-icon>
        </ion-col>
        <ion-col>
          <ion-label> 보다 나은 서비스 경험을 위해 이 곳을 터치하여 사용자 정보를 입력 해 주세요.</ion-label>
        </ion-col>
        </ion-row>
    </ion-grid>
  </div> -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullFactor="0.4" pullMin="25" pullMax="300">
    <ion-refresher-content pullingIcon="chevron-down" refreshingSpinner="crescent">
    </ion-refresher-content>
  </ion-refresher>

  <!-- <p class="header-text">{{ 'TAB1.recentData' | translate }}</p> -->
  <div class="container">
    <!-- 데이터가 없을 때 안내 메시지 -->
    <div *ngIf="uiData.sleepScore === '0' && displayRecentSleepResultsUi.wakeDay === '0'"
      style="background-color: rgba(255, 255, 255, 0.1); border-radius: 10px; padding: 2em; margin: 1em; text-align: center;">
      <ion-icon name="moon-outline" style="font-size: 3rem; color: #10dc60; margin-bottom: 0.5em;"></ion-icon>
      <h3 style="color: #ffffff; margin-bottom: 0.5em;">수면 데이터가<br>아직 없습니다</h3>
      <p style="color: #aaaaaa; font-size: 0.9rem; line-height: 1.5;">
        디바이스를 사용하여 수면을 측정하면
        여기에 수면 분석 결과가 표시됩니다.
      </p>
    </div>

    <ion-grid>
      <ion-row>
        <ion-col size="0.1" style="padding-top: 3.5em">
          <img style="height: 63%; position: absolute" src="../../assets/imgs/simple_vertical_blue_bar.png">
        </ion-col>
        <ion-col size="4.7" style=" border-radius: 10px; padding-top: 0em">
          <div style="text-align: left">
            <h5 style="margin-bottom: 0; color: #10dc60">
              {{ displayRecentSleepResultsUi.wakeMonth}}{{ 'COMMON.month' | translate }}
              {{ displayRecentSleepResultsUi.wakeDay }}{{ 'COMMON.days' | translate }}
            </h5>
          </div>
          <ion-col>
            <ion-row>
              <ion-label class="small-header"><ion-icon style="margin-right: 0.3em; font-size: 0.8rem;" color="warning"
                  name="ellipse"></ion-icon>{{ 'TAB1.asleepTime' | translate }}</ion-label>
            </ion-row>
            <ion-row>
              <div>
                <ion-label class="time-text">{{ displayRecentSleepResultsUi.totalSleepHour }}</ion-label>
                <ion-label class="small-text space">{{ 'COMMON.hours' | translate }}</ion-label>
                <ion-label class="time-text">{{ displayRecentSleepResultsUi.totalSleepMinute }}</ion-label>
                <ion-label class="small-text">{{ 'COMMON.minute' | translate }}</ion-label>
              </div>
            </ion-row>
          </ion-col>

          <ion-col>
            <ion-row style="margin-top: 1.0em">
              <ion-label class="small-header"><ion-icon style="margin-right: 0.3em; font-size: 0.8rem;" color="warning"
                  name="ellipse"></ion-icon>{{ 'TAB1.bedTime' | translate }}</ion-label>
            </ion-row>
            <ion-row>
              <div>
                <ion-label class="time-text">{{ displayRecentSleepResultsUi.totalBedHour }}</ion-label>
                <ion-label class="small-text space">{{ 'COMMON.hours' | translate }}</ion-label>
                <ion-label class="time-text">{{ displayRecentSleepResultsUi.totalBedMinute }}</ion-label>
                <ion-label class="small-text">{{ 'COMMON.minute' | translate }}</ion-label>
              </div>
            </ion-row>
          </ion-col>

        </ion-col>
        <ion-col style="padding-top: 3.3em" routerLink="/tabs/tab2" routerDirection="forward">
          <circle-progress [showUnits]="true" [units]="scoreUnitsText" [unitsColor]="'#AAAAAA'" [unitsFontSize]="'10'"
            [maxPercent]="100" [percent]="+(uiData.sleepScore || 0)" [radius]="45" [outerStrokeWidth]="10"
            [innerStrokeWidth]="5" [outerStrokeColor]="circleColor" [innerStrokeColor]="'#222222'" [animation]="true"
            [animationDuration]="1500" [showSubtitle]="false" [titleColor]="'#F4F4F4'" [titleFontSize]="'35'"
            [space]="-7">
          </circle-progress>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- <p class="header-text">{{ 'TAB1.sleepSound' | translate }} </p>
  <div class="ion-no-padding" style="margin-top: -1.0em">
    <div #swiperContainer class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="{{ deviceService.coverImages.cover1 }}" />
        </div>
        <div class="swiper-slide">
          <img src="{{ deviceService.coverImages.cover2 }}" />
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div> -->
</ion-content>
