ion-card-subtitle {
  text-align: center;
}

.ion-badge {
  margin-bottom: 5px;
}

ion-card-title {
  text-align: center;
  font-size: 30px;
}

div {
  text-align: center;
  vertical-align: middle;
}

.header-text {
  margin-left: 21px;
  margin-top: 0.5em;
}

.container {
  margin-top: 2.5em;
  // display: flex;
  width: 90%;
  height: auto;
  // flex-wrap: wrap;
  margin-left: 18px;
  background-color: #292929;
  border-radius: 10px;
  vertical-align: middle;
  padding-left: 1.0em;
  padding-right: 0.8em;
}

.icon-outer-box {
  margin-top: 0.5em;
  // display: flex;
  width: 90%;
  height: auto;
  // flex-wrap: wrap;
  margin-left: 12px;
  background-color: #292929;
  border-radius: 10px;
  vertical-align: middle;
  text-align: center;
  // padding-left: 1.0em;
  // padding-right: 0.8em;
  // padding-top: 0.5em;
  // padding-bottom: 0.5em;
}

.icon-box {
  background-color: #1C1C1D;
  border-radius: 10px;
  height: 4.5rem;
  width: auto;
  vertical-align: middle;
  padding-top: 1.0rem;
  padding-bottom: auto;
}

.icon-box2 {
  background-color: #1C1C1D;
  border-radius: 10px;
  height: 4.5rem;
  width: auto;
  vertical-align: middle;
  padding-top: 0.5em;
  padding-bottom: auto;
}

.icon-status {
  width: 70%;
  height: auto;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  background-color: #282828;
}

.column-button {
  flex: 1;
  color: white;
  vertical-align: middle;
}

.column-button.rowspan {
  flex: 2;
}

.rcorners1 {
  // text-align: center;
  border-radius: 10px;
  // background: #292929;
  padding: 17px;
  top: 50%;
  width: 95%;
  height: 100px;
  margin-left: 7px;
}

.rcorners1.div2 {
  display: flex;
  justify-content: space-between;
}

#connected-device {
  margin: 20px, 0px, 20px, 0px;
}

.parent {
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
}

#icon-middle {
  margin-top: 0.5em;
  max-height: 1.2rem;
  max-width: auto;
}

#icon-left {
  max-width: auto;
  max-height: 2.0rem;
  margin-left: 0.5em;

}

#icon-right {
  max-width: auto;
  max-height: 2.0rem;
}

.icon-sun {
  max-width: 1.6rem;
  margin-right: 5px;
  max-height: auto;
}

.icon-moon {
  max-width: 1.6rem;
  max-height: auto;
  margin-right: 5px;
}

.time-text {
  font-size: 1.8rem;
  font-weight: 400;
}


.small-header {
  margin-top: 0.5em;
  margin-bottom: -5px;
  font-weight: bold;
  color: #3478F5;
  font-size: 1.0em;
}

.medium-header {
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 200;
}

#add-device-button {
  --color: #ffc421;
  --background: light;
  height: 24px;
  margin-top: 10px;
  margin-right: 15px;
  --border-radius: 20px;
}

#div2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: -10px;
}

#icon-device {
  max-width: 1.8rem;
  max-height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5em;
}

.small-text {
  font-size: 0.8rem
}

.small-text.space {
  margin-right: 0.2rem;
}

ion-refresher-content {
    background-color: #1C1C1D;
}

.swiper {
  width: 100%;
  padding: 20px 0;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10px;
}
