<ion-header>
  <ion-toolbar class="ion-no-padding" style="height: 3.2rem;">
    <div class="parent">
      <div>
        <img *ngIf="deviceService.isOnline === 0" id="icon-left" src="../../assets/imgs/navibar_sensor_offline.png"
          routerLink="/device-registration" routerDirection="forward" />
          <ion-label *ngIf="deviceService.isOnline === 0" style="margin-left: -0.7em; margin-top: 1.0em; position: absolute; font-size: 0.8rem;" color="warning">{{ 'COMMON.scanning' | translate }}</ion-label>
        <img *ngIf="deviceService.isOnline > 0" id="icon-left" src="../../assets/imgs/navibar_sensor_online.png"
          routerLink="/device-registration" routerDirection="forward" />
          <ion-label *ngIf="deviceService.isOnline > 0" style="margin-left: -0.7em; margin-top: 1.0em; position: absolute; font-size: 0.8rem;" color="warning">{{ 'COMMON.connected' | translate }}</ion-label>
      </div>
      <div style="margin-top: -0.5em;">
        <ion-button fill="clear">
          <img id="icon-middle" src="../../assets/imgs/dive_logo_small.png" />
        </ion-button>
      </div>
      <div>
        <img *ngIf="familyShare.badgeCount > 0" routerLink="/family" routerDirection="forward" id="icon-right" style="max-width: 50%; margin-top: 0.5em" src="../../assets/imgs/icon_family.png" />
        <img *ngIf="familyShare.badgeCount === 0" routerLink="/family" routerDirection="forward" id="icon-right" style="max-width: 70%; margin-top: 0.5em" src="../../assets/imgs/icon_family.png" />
        <ion-badge *ngIf="familyShare.badgeCount > 0" slot="end" color="danger" style="margin-left: -0.3em">{{ familyShare.badgeCount }}</ion-badge>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content style="background-color: #1C1C1D; padding-bottom: 1.0em;">
  <div *ngIf="deviceService.userNickname === '' || deviceService.userNickname === undefined" routerLink="/profile" routerDirection="forward" style="background-color: #FCC300; color: #0c0c0d; text-align: left; font-size: 0.8rem; padding: 0.3em; font-weight: 500;">
    <ion-grid>
      <ion-row>
        <ion-col size="1.5">
          <ion-icon style="font-size: 2.0rem" name="information-circle-outline"></ion-icon>
        </ion-col>
        <ion-col>
          <ion-label> 보다 나은 서비스 경험을 위해 이 곳을 터치하여 사용자 정보를 입력 해 주세요.</ion-label>
        </ion-col>
        </ion-row>
    </ion-grid>
  </div>
  <div>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullFactor="0.4" pullMin="25" pullMax="300">
      <ion-refresher-content pullingIcon="chevron-down" refreshingSpinner="crescent">
      </ion-refresher-content>
    </ion-refresher>
  </div>

  <!-- <p class="header-text">{{ 'TAB1.recentData' | translate }}</p> -->
  <div class="container">
    <!-- 데이터가 없을 때 안내 메시지 -->
    <div *ngIf="uiData.sleepScore === '0' && displayRecentSleepResultsUi.wakeDay === '0'" 
         style="background-color: rgba(255, 255, 255, 0.1); border-radius: 10px; padding: 2em; margin: 1em; text-align: center;">
      <ion-icon name="moon-outline" style="font-size: 3rem; color: #10dc60; margin-bottom: 0.5em;"></ion-icon>
      <h3 style="color: #ffffff; margin-bottom: 0.5em;">수면 데이터가 아직 없습니다</h3>
      <p style="color: #aaaaaa; font-size: 0.9rem; line-height: 1.5;">
        디바이스를 사용하여 수면을 측정하면<br>
        여기에 수면 분석 결과가 표시됩니다.
      </p>
    </div>

    <ion-grid>
      <ion-row>
        <ion-col size="0.1" style="padding-top: 3.5em">
          <img style="height: 63%; position: absolute" src="../../assets/imgs/simple_vertical_blue_bar.png">
        </ion-col>
        <ion-col size="4.7" style=" border-radius: 10px; padding-top: 0em">
          <div style="text-align: left">
            <h5 style="margin-bottom: 0; color: #10dc60">
              {{ displayRecentSleepResultsUi.wakeMonth}}{{ 'COMMON.month' | translate }}
              {{ displayRecentSleepResultsUi.wakeDay }}{{ 'COMMON.days' | translate }}
            </h5>
          </div>
          <ion-col>
            <ion-row>
              <ion-label class="small-header"><ion-icon style="margin-right: 0.3em; font-size: 0.8rem;" color="warning" name="ellipse"></ion-icon>{{ 'TAB1.asleepTime' | translate }}</ion-label>
            </ion-row>
            <ion-row>
              <div>
                <ion-label class="time-text">{{ displayRecentSleepResultsUi.totalSleepHour }}</ion-label>
                <ion-label class="small-text space">{{ 'COMMON.hours' | translate }}</ion-label>
                <ion-label class="time-text">{{ displayRecentSleepResultsUi.totalSleepMinute }}</ion-label>
                <ion-label class="small-text">{{ 'COMMON.minute' | translate }}</ion-label>
              </div>
            </ion-row>
          </ion-col>

          <ion-col>
            <ion-row style="margin-top: 1.0em">
              <ion-label class="small-header"><ion-icon style="margin-right: 0.3em; font-size: 0.8rem;" color="warning" name="ellipse"></ion-icon>{{ 'TAB1.bedTime' | translate }}</ion-label>
            </ion-row>
            <ion-row>
              <div>
                <ion-label class="time-text">{{ displayRecentSleepResultsUi.totalBedHour }}</ion-label>
                <ion-label class="small-text space">{{ 'COMMON.hours' | translate }}</ion-label>
                <ion-label class="time-text">{{ displayRecentSleepResultsUi.totalBedMinute }}</ion-label>
                <ion-label class="small-text">{{ 'COMMON.minute' | translate }}</ion-label>
              </div>
            </ion-row>
          </ion-col>

        </ion-col>
        <ion-col style="padding-top: 3.3em" routerLink="/tabs/tab2" routerDirection="forward">
          <circle-progress [showUnits]="true" [units]="scoreUnitsText" [unitsColor]="'#AAAAAA'" [unitsFontSize]="'10'"
            [maxPercent]="100" [percent]="+(uiData.sleepScore || 0)" [radius]="45" [outerStrokeWidth]="10"
            [innerStrokeWidth]="5" [outerStrokeColor]="circleColor" [innerStrokeColor]="'#222222'" [animation]="true"
            [animationDuration]="1500" [showSubtitle]="false" [titleColor]="'#F4F4F4'" [titleFontSize]="'35'"
            [space]="-7">
          </circle-progress>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <p class="header-text" >{{ 'TAB1.sleepSound' | translate }} </p>
  <div class="ion-no-padding" style="margin-top: -1.0em">
    <div #swiperContainer class="swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img src="{{ deviceService.coverImages.cover1 }}" />
    </div>
    <div class="swiper-slide">
      <img src="{{ deviceService.coverImages.cover2 }}" />
    </div>
    <!-- 기타 슬라이드들 -->
  </div>
  <div class="swiper-pagination"></div>
</div>

  </div>

  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col>
        <ion-card style="border-radius: 10px; margin-bottom: -0.5em" routerLink="/new-bedcontrol"
          routerDirection="forward"
          [disabled]="!deviceService.isMotionBedConnected">
          <ion-row>
            <ion-col class="column">
              <img id="icon-device" src="../../assets/imgs/icon_motionbed.png">
            </ion-col>
            <ion-col class="column">
              <p style="font-size: 0.8rem; color: #ffffff">{{ 'COMMON.motionBed' | translate }} </p>
            </ion-col>
            <ion-col size="3" class="column">
              <img id="icon-device" src="{{ motionBedStatusImage }}">
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card style="border-radius: 10px; margin-bottom: -0.5em" routerLink="/hej-moodlight"
          routerDirection="forward" [disabled]="true">
          <ion-row>
            <ion-col class="column">
              <img id="icon-device" src="../../assets/imgs/device_moodlight.png">
            </ion-col>
            <ion-col class="column">
              <p style="font-size: 0.8rem; color: #ffffff">{{ 'TAB1.moodLight' | translate }} </p>
            </ion-col>
            <ion-col size="3" class="column">
              <img id="icon-device" src="../../assets/imgs/device_unchecked.png">
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card style="border-radius: 10px; margin-bottom: -0.5em" routerLink="/hej-strip" routerDirection="forward"
          [disabled]="true">
          <ion-row>
            <ion-col class="column">
              <img id="icon-device" src="../../assets/imgs/device_strip.png">
            </ion-col>
            <ion-col class="column">
              <p style="font-size: 0.8rem; color: #ffffff">{{ 'TAB1.stripLed' | translate }} </p>
            </ion-col>
            <ion-col size="3" class="column">
              <img id="icon-device" src="../../assets/imgs/device_unchecked.png">
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card style="border-radius: 10px; margin-bottom: -0.5em" routerLink="/ir-remocon" routerDirection="forward"
          [disabled]="true">
          <ion-row>
            <ion-col class="column">
              <img id="icon-device" src="../../assets/imgs/device_remocon.png">
            </ion-col>
            <ion-col class="column">
              <p style="font-size: 0.8rem; color: #ffffff">{{ 'TAB1.irTv' | translate }} </p>
            </ion-col>
            <ion-col size="3" class="column">
              <img id="icon-device" src="../../assets/imgs/device_unchecked.png">
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card style="border-radius: 10px; margin-bottom: -0.5em" routerLink="/air-conditioner"
          routerDirection="forward" [disabled]="true">
          <ion-row>
            <ion-col class="column">
              <img id="icon-device" src="../../assets/imgs/device_airconditioner.png">
            </ion-col>
            <ion-col class="column">
              <p style="font-size: 0.8rem; color: #ffffff">{{ 'TAB1.airConditioner' | translate }}</p>
            </ion-col>
            <ion-col size="3" class="column">
              <img id="icon-device" src="../../assets/imgs/device_unchecked.png">
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card style="border-radius: 10px; margin-bottom: -0.5em" routerLink="/curtain" routerDirection="forward"
        [disabled]="true">
          <ion-row>
            <ion-col class="column">
              <img id="icon-device" src="../../assets/imgs/device_curtain.png">
            </ion-col>
            <ion-col class="column">
              <p style="font-size: 0.8rem; color: #ffffff">{{ 'TAB1.curtain' | translate }}</p>
            </ion-col>
            <ion-col size="3" class="column">
              <img id="icon-device" src="../../assets/imgs/device_unchecked.png">
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card style="border-radius: 10px; margin-bottom: -0.5em" routerLink="/smart-plug" routerDirection="forward" [disabled]="true">
          <ion-row>
            <ion-col class="column">
              <img id="icon-device" src="../../assets/imgs/device_plug.png">
            </ion-col>
            <ion-col class="column">
              <p style="font-size: 0.8rem; color: #ffffff">{{ 'TAB1.plug' | translate }}</p>
            </ion-col>
            <ion-col size="3" class="column">
              <img id="icon-device" src="../../assets/imgs/device_unchecked.png">
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card style="border-radius: 10px; margin-bottom: -0.5em" routerLink="/settop-box" routerDirection="forward" [disabled]="true">
          <ion-row>
            <ion-col class="column">
              <img id="icon-device" src="../../assets/imgs/device_settop.png">
            </ion-col>
            <ion-col class="column">
              <p style="font-size: 0.8rem; color: #ffffff">{{ 'TAB1.settop' | translate }}</p>
            </ion-col>
            <ion-col size="3" class="column">
              <img id="icon-device" src="../../assets/imgs/device_unchecked.png">
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
