<app-header [showLogo]="true"></app-header>

<ion-content>
<div class="ion-padding">
  <!-- <img src="../../assets/imgs/tab3_demo_header1.png"> -->
  <!-- <img *ngIf="deviceService.selectedLanguage === 'ko'"  src="../../assets/imgs/tab3_demo_main.png"> -->
  <!-- <img *ngIf="deviceService.selectedLanguage !== 'ko'"  src="../../assets/imgs/tab3_demo_main_eng.png"> -->

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card [disabled]="!deviceService.isMotionBedConnected" routerLink="/new-bedcontrol" routerDirection="forward">
          <div id="div-image">
            <img id="icon-device" src="../../assets/imgs/transparent_motionbed.png">
            <img id="icon-status" src="../../assets/imgs/icon_device_online.png">
          </div>
          <div id="div-label">
            <ion-label>{{ 'TAB3.motionBed' | translate }}</ion-label>
          </div>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card [disabled]="true" routerLink="/hej-moodlight" routerDirection="forward">
          <div id="div-image">
            <img id="icon-device" src="../../assets/imgs/transparent_moodlight.png">
            <img id="icon-status" src="../../assets/imgs/icon_device_linked.png">
          </div>
          <div id="div-label">
            <ion-label>{{ 'TAB3.moodLight' | translate }}</ion-label>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
    <ion-col>
      <ion-card [disabled]="true" routerLink="/hej-strip" routerDirection="forward">
        <div id="div-image">
          <img id="icon-device" src="../../assets/imgs/transparent_stripled.png">
          <img id="icon-status" src="../../assets/imgs/icon_device_linked.png">
        </div>
        <div id="div-label">
          <ion-label>{{ 'TAB3.stripLed' | translate }}</ion-label>
        </div>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card [disabled]="true" routerLink="/ir-remocon" routerDirection="forward">
        <div id="div-image">
          <img id="icon-device" src="../../assets/imgs/transparent_irtv.png">
          <img id="icon-status" src="../../assets/imgs/icon_device_linked.png">
        </div>
        <div id="div-label">
          <ion-label style="margin-left: 0.7em">{{ 'TAB3.irTv' | translate }}</ion-label>
        </div>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-card [disabled]="true" routerLink="/air-conditioner" routerDirection="forward">
        <div id="div-image">
          <img id="icon-device" src="../../assets/imgs/transparent_irair.png">
          <img id="icon-status" src="../../assets/imgs/icon_device_linked.png">
        </div>
        <div id="div-label">
          <ion-label>{{ 'TAB3.irAir' | translate }}</ion-label>
        </div>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card [disabled]="true" routerLink="/settop-box" routerDirection="forward">
        <div id="div-image">
          <img id="icon-device" src="../../assets/imgs/transparent_settopbox.png">
          <img id="icon-status" src="../../assets/imgs/icon_device_linked.png">
        </div>
        <div id="div-label">
          <ion-label>{{ 'TAB3.settopBox' | translate }}</ion-label>
        </div>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-card [disabled]="true">
        <div id="div-image">
          <img id="icon-device" src="../../assets/imgs/transparent_fan.png">
          <img id="icon-status" src="../../assets/imgs/icon_device_linked.png">
        </div>
        <div id="div-label">
          <ion-label>{{ 'TAB3.fan' | translate }}</ion-label>
        </div>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card [disabled]="true">
        <div id="div-image">
          <img id="icon-device" src="../../assets/imgs/transparent_bulb.png">
          <img id="icon-status" src="../../assets/imgs/icon_device_linked.png">
        </div>
        <div id="div-label">
          <ion-label style="margin-left: 0.7em">{{ 'TAB3.bulb' | translate }}</ion-label>
        </div>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-card [disabled]="true" routerLink="/curtain" routerDirection="forward">
        <div id="div-image">
          <img id="icon-device" src="../../assets/imgs/transparent_curtain.png">
          <img id="icon-status" src="../../assets/imgs/icon_device_linked.png">
        </div>
        <div id="div-label">
          <ion-label>{{ 'TAB3.curtain' | translate }}</ion-label>
        </div>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card [disabled]="true">
        <div id="div-image">
          <img id="icon-device" src="../../assets/imgs/device_plug.svg">
          <img id="icon-status" src="../../assets/imgs/icon_device_linked.png">
        </div>
        <div id="div-label">
          <ion-label>{{ 'TAB1.plug' | translate }}</ion-label>
        </div>
      </ion-card>
    </ion-col>
  </ion-row>
  </ion-grid>
</div>
<div>
  <ion-button routerLink="/third-party-manual" routerDirection="forward" class="ion-padding" shape="round" fill="outline" expand="block" color="tertiary">{{ 'TAB3.getDevice' | translate }}</ion-button>
</div>
</ion-content>
