div {
    text-align: center;
}

ion-content {
    padding: 20px, 20px, 20px, 20px;
}

.round-chart {
    max-width: 90%;
    max-height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 3.0em;
}

p {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}