  .signup-logo {
    padding: 60px 15px;
    min-height: 200px;
    text-align: left;
  }

// .signup-logo {
//     padding: 20px 0;
//     min-height: 200px;
//     text-align: center;
//   }
  
  .signup-logo img {
    margin: 50px, 0, 50px, 0;
    max-width: 250px;
  }
  
  .list {
    margin-bottom: 0;
  }
  
  h1 {
    font-weight: 600;
  }
  
  .agree-label {
    font-size: 0.8rem;
  }