swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
}

.slide-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 20px;
}

.slide-title {
  margin-top: 0.5rem;
}

.slide-image {
  max-height: 68%;
  max-width: 68%;
  margin: 5px 0;
  pointer-events: none;
}

b {
  font-weight: 500;
}

p {
  padding: 0 40px;
  font-size: 14px;
  line-height: 1.5;
  color: var(--ion-color-step-600, #60646b);

  b {
    color: var(--ion-text-color, #000000);
  }
}
  