/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

@import "@ionic/angular/css/palettes/dark.always.css";
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
// @import "@ionic/angular/css/palettes/dark.system.css";

body {
  background-color: #313131;
  color: #f0f0f0;
}

/* Alert 다크 모드 스타일 */
.dark-alert {
  --background: #1C1C1D;
  --color: #ffffff;
  
  .alert-head {
    color: #ffffff;
  }
  
  .alert-message {
    color: #aaaaaa;
  }
  
  .alert-button-confirm {
    color: #3478F5 !important;

    &:hover {
      background-color: rgba(52, 120, 245, 0.1);
    }

    &:active, &.ion-activated {
      background-color: rgba(52, 120, 245, 0.2);
      color: #3478F5 !important;
    }
  }
}

/* OTA Alert 스타일 */
.ota-alert {
  --background: #1C1C1D;
  --color: #ffffff;
  
  .alert-wrapper {
    --background: #1C1C1D;
  }
  
  .alert-head,
  .alert-title {
    color: #ffffff !important;
  }
  
  .alert-message {
    color: #aaaaaa !important;
    
    strong {
      color: #ffffff !important;
      font-weight: bold;
    }
  }
  
  .alert-button-cancel {
    color: #aaaaaa !important;

    &:hover, &.ion-focused {
      background-color: rgba(170, 170, 170, 0.1);
      color: #ffffff !important;
    }

    &:active, &.ion-activated {
      background-color: rgba(170, 170, 170, 0.2);
      color: #ffffff !important;
    }
  }
  
  .alert-button-confirm {
    color: #3478F5 !important;

    &:hover, &.ion-focused {
      background-color: rgba(52, 120, 245, 0.1);
      color: #ffffff !important;
    }

    &:active, &.ion-activated {
      background-color: rgba(52, 120, 245, 0.2);
      color: #ffffff !important;
    }
  }
}

/* ion-select 팝업 (alert/action-sheet) 글자색 white 설정 */
.alert-wrapper,
.action-sheet-wrapper {
  .alert-radio-label,
  .alert-checkbox-label,
  .action-sheet-button-inner {
    color: #ffffff !important;
  }

  .alert-title,
  .action-sheet-title {
    color: #ffffff !important;
  }

  .alert-sub-title,
  .action-sheet-sub-title {
    color: #aaaaaa !important;
  }
}

/* 모든 알림창의 텍스트를 흰색으로 강제 설정 */
ion-alert {
  --color: #ffffff;

  .alert-wrapper {
    --color: #ffffff;
    color: #ffffff !important;
  }

  .alert-head h2,
  .alert-title,
  .alert-message,
  .alert-input,
  .alert-button {
    color: #ffffff !important;
  }
}

/* ion-label의 color="dark" 속성이 실제로는 밝은 색상으로 표시되도록 강제 */
ion-label[color="dark"],
ion-card-subtitle[color="dark"],
ion-card-title[color="dark"] {
  --color: #f4f5f8 !important;
  color: #f4f5f8 !important;
}

/* ion-input의 색상도 밝게 설정 */
ion-input[color="dark"] {
  --color: #f4f5f8 !important;
  color: #f4f5f8 !important;
}

/* ion-back-button과 ion-title 겹침 방지 */
ion-toolbar {
  ion-title {
    padding-left: 50px;
    padding-right: 50px;
  }

  ion-buttons[slot="start"] + ion-title {
    padding-left: 50px;
  }

  ion-buttons[slot="end"] + ion-title,
  ion-title:has(+ ion-buttons[slot="end"]) {
    padding-right: 50px;
  }
}

ion-header {
  ion-toolbar {
    --min-height: auto;
    --padding-top: env(safe-area-inset-top);
    --padding-bottom: 0;
    --padding-start: 0;
    --padding-end: 0;
  }
}

ion-content {
  --padding-top: 0;
  --padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

ion-footer {
  ion-toolbar {
    --min-height: auto;
    --padding-top: 0;
    --padding-bottom: env(safe-area-inset-bottom);
    --padding-start: 0;
    --padding-end: 0;
  }
}

ion-tab-bar {
  --padding-top: 0;
  --padding-bottom: env(safe-area-inset-bottom);
  padding-top: 0 !important;
  margin-top: 0;
  margin-bottom: 0;
}
